<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 목록</title>
</head>

<body>

    <a href="/members-sync/create">신규 회원 등록</a>
    <table>
        <thead>
            <tr>
                <th>
                    회원 고유 번호
                </th>
                <th>
                    회원 아이디
                </th>
                <th>
                    회원명
                </th>
                <th>
                    등록 일자
                </th>
                <th>
                    수정 일자
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i< members.length;i++){ %>
                <tr>
                    <td><a href="/members/modify/<%= members[i].id%>">
                            <%= members[i].id%>
                        </a></td>
                    <td>
                        <%= members[i].userid %>
                    </td>
                    <td>
                        <%= members[i].username %>
                    </td>
                    <td>
                        <%= members[i].createdAt %>
                    </td>
                    <td>
                        <%= members[i].updatedAt %>
                    </td>
                </tr>

                <% } %>

        </tbody>

    </table>
</body>

</html>